table, th, td{
	border : 1px solid yellow;
}
body{
    backround-color: green;
}

h1{
    color: pink;
}

h2{
   color black;
}

h3{ 
   color: blue;
}
.text_centre{
text-align:centre;
text-size:29px;
}
.text_table_r1{
color:gold;
font-size:28px
}